//- navbar.jade
nav(class="navbar navbar-default navbar-fixed-top" role="navigation")
	.container
		.row
			div(class="col-xs-12" id="lg-navbar-container")
				div(class="navbar-header")
					button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-lg-left")
						span(class="sr-only") #{__("toggle")}
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					//- 121 px is a when title is Fiskskipti
					a(class="navbar-brand" href="/") #{__("mainTitle")}
				div(class="collapse navbar-collapse" id="nav-lg-left")
					ul(class="nav navbar-nav") 
						li(class="dropdown collapseNav")
							a(href="/" class="dropdown-toggle" data-toggle="dropdown") #{__("Uppboð")} 
								strong(class="caret")
							ul(class="dropdown-menu")
								li 
									a(href="#") #{__("auctionToday")}
								li 
									a(href="#") #{__("staeduListar")} 
								li(class="divider")
								li
									a(href="#") #{__("lastAuction")} 
								li(class="divider")
								li 
									a(href="#") #{__("calendar")} 
						li(class="dropdown" id="not-collapse")
							a(href="/" class="dropdown-toggle" data-toggle="dropdown")
								span(class="fa fa-gavel")
								p(id="auctionGlyph") #{__("auctionSystem")} 
								strong(class="caret")
							ul(class="dropdown-menu")
								li 
									a(href="#") #{__("startAuction")}
								li 
									a(href="#") #{__("staedulistar")}
								li(class="divider")
								li
									a(href="#") #{__("auctionInfo")}
								li 
									a(href="#") #{__("auctionRules")}
						li(class="dropdown collapseNav")
							a(href="/" class="dropdown-toggle" data-toggle="dropdown") #{__("buyers")} 
								strong(class="caret")
							ul(class="dropdown-menu")
								li 
									a(href="#") #{__("newBuyers")}
								li 
									a(href="#") #{__("skilmalar")}
								li(class="divider")
								li
									a(href="#") #{__("gaedamat")}
								li 
						li(class="dropdown collapseNav")
							a(href="/" class="dropdown-toggle" data-toggle="dropdown") #{__("fishmarket")} 
								strong(class="caret")
							ul(class="dropdown-menu")
								li 
									a(href="#") #{__("fishmarketList")} 
								li(class="divider")
								li 
									a(href="#") #{__("prices")}
								li
									a(href="#") #{__("cleaningservice")}
								li(class="divider")
								li 
									a(href="#") #{__("newsellers")}
						li(class="dropdown collapseNav")
							a(href="/" class="dropdown-toggle" data-toggle="dropdown") #{__("about")} 
								strong(class="caret")
							ul(class="dropdown-menu")
								li 
									a(href="#") #{__("company")}
								li 
									a(href="#") #{__("employees")}
								li(class="divider")
								li
									a(href="#") #{__("prices")}
								li(class="divider")
								li 
									a(href="#") #{__("infostefna")}
						//-div(class="nav navbar-nav navbar-right" id="navbar-not-collapse")
					ul(class="nav navbar-nav navbar-right")
						li(class="dropdown")
							a(href="#" class="dropdown-toggle" data-toggle="dropdown")
								span(class="glyphicon glyphicon-user")
								p(id="inlineGlyph") #{__("signIn")}
								strong(class="caret")
							ul(class="dropdown-menu" style="padding: 15px; min-width: 250px;")
								li
									div(class="row")
										div(class="col-md-12")
											form(class="form" role="form" method="post" action="/login" accept-charset="UTF-8" id="login-nav")
												div(class="form-group")
													label(class="sr-only" for="siteUsername") #{__("username")}
													input(type="email" class="form-control" id="siteUsername" placeholder=__("username") required)
												div(class="form-group")
													label(class="sr-only" for="sitePassword") #{__("password")}
													input(type="password" class="form-control" id="sitePassword" placeholder=__("password") required)
												div(class="checkbox")
													label
														input(type="checkbox")
														p(id="inlineGlyph") #{__("remember")}
												div(class="form-group")
													button(type="submit" class="btn btn-success btn-block") #{__("signmein")}
								li(class="divider")
								li
									a(href="/create" class="login-button")
										input(type="button" id="sign-up-front" class="btn btn-primary btn-block" value=__("newsignin"))
									input(class="btn btn-primary btn-block" type="button" id="forgot-pw-front" value=__("forgotpw"))
						li
							a(href="/" class="dropdown-toggle" data-toggle="dropdown")
								if __l=='is'
									span(class="flag-icon flag-icon-is")
								else
									span(class="flag-icon flag-icon-us")
								strong(class="caret")
							ul(class="dropdown-menu" id="flag-dropdown-menu")
								li(class="flag-lang")&attributes(__l=='is' ? {'class': 'active'} : {'class': ''}) 
									a(href="/" id="lang-is")
										span(class="flag-icon flag-icon-is")
										p(id="inlineGlyph") #{__("icelandic")}
								li(class="flag-lang")&attributes(__l=='us' ? {'class': 'active'} : {'class': ''}) 
									a(href="/" id="lang-us")
										span(class="flag-icon flag-icon-us")
										p(id="inlineGlyph") #{__("english")}